/* For Future Implementation */

/* :root {
	--light-background: white;
	--light-text: black;
	--light-button: blue;
	--dark-background: #121212;
	--dark-text: white;
	--dark-button: #3700b3;
} */

/* @media (prefers-color-scheme: light) {
	:root {
		--text-color: var(--light-text)
		--page-background-color: var(--light-background)
		--button-color: var(--light-button)
	}
	
}

@media (prefers-color-scheme: dark) {
	:root {
		--text-color: var(--dark-text);
		--page-background-color: var(--dark-background)
		--button-color: var(--dark-button)
	}
	
} */

* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	left: 0;
}

/* *General */

.button {
	padding: 1em;
	background-color: blue;
	color: white;
	text-decoration: none;
	border-radius: 5px;
}

.submit-button {
	padding: 0.6rem;
	font-size: 0.8rem;
	width: 100px;
	background-color: blue;
	color: white;
	font-family: inherit;
	border-radius: 5px;
	margin: 1rem 0;
	border: solid rgba(149, 157, 165, 0.6) 1px;
}
.submit-button:hover {
	cursor: pointer;
}

.section-title {
	text-align: center;
	font-size: 2rem;
	margin: 2em 0 0 0;
	padding: 0;
}

.text-color {
	color: blue;
}

.box {
	width: 500px;
}

@media (max-width: 1000px) {
	.section-title {
		padding: 4em 0 0 0;
		margin: 0;
	}
	.box {
		width: 300px;
	}
}

/* *Container */

.container {
	margin: 0 auto;
	padding: 3em 0;
	width: 100%;
	max-width: 900px;
}

@media (max-width: 1000px) {
	.container {
		width: 100%;
		margin: 0 auto;
		padding: 3em 0;
		text-align: center;
	}
}

/* * Navigation */

nav {
	background: blue;
	height: 80px;
	margin-bottom: 2em;
	width: 100%;
}

label.logo {
	color: white;
	font-size: 2rem;
	line-height: 80px;
	padding: 0 3em;
	font-weight: bold;
}

label.logo a {
	color: white;
}

.navbar-items {
	float: right;
	/* margin-right: 20px; */
}

.navbar-item {
	list-style: none;
	display: inline-block;
	line-height: 80px;
	font-weight: bold;
	margin: 0 5px;
}

.navbar-link {
	color: white;
	font-size: 15px;
	padding: 0.5rem 1rem;
}

.checkbtn {
	font-size: 2rem;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 3rem;
	cursor: pointer;
	display: none;
}

#check {
	display: none;
}

@media (max-width: 950px) {
	label.logo {
		display: none;
	}
}

@media (max-width: 950px) {
	.nav {
		margin: 0;
		padding: 0;
		width: 100%;
	}

	.checkbtn {
		display: block;
	}

	.navbar-items {
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #2c3e50;
		left: -100%;
		transition: all 0.5s;
		text-align: center;
	}

	.navbar-item {
		display: block;
		margin: 50px;
		line-height: 30px;
	}

	.navbar-link {
		font-size: 20px;
	}

	.navbar-link:hover,
	.navbar-link.active {
		background: none;
	}

	#check:checked ~ ul {
		left: 0;
	}
}

/* * Hero */

.hero {
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4em;
}

.hero-text {
	text-align: center;
}

.hero-text p {
	margin: 2em 0;
}

@media (max-width: 1000px) {
	.hero {
		margin: 0;
		padding: 0 2em;
		flex-direction: column;
		gap: 0;
	}

	.hero-text h2 {
		margin: 0;
		padding: 0;
		font-size: 2em;
	}

	.hero-img {
		display: none;
	}
}

/* *Explainer  */

.explainer-main {
	text-align: center;
	padding: 0 2rem;
}

.cards {
	display: flex;
	text-align: center;
}

.card {
	width: 30%;
	margin: 0 2rem;
}

.cards img {
	width: 100px;
}

.explainer-title {
	font-weight: 700;
	padding: 1rem 0;
}

@media (max-width: 1000px) {
	.cards {
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	.card {
		margin: 1em 0;
		width: 50%;
	}

	.cards img {
		width: 75px;
	}
}

/* * Details */

.details {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.details h2,
.details p {
	margin: 1rem;
}

.details-grid {
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 1fr;
}

/* * Price Comparison */

.price-comparison {
	display: flex;
	justify-content: center;
	align-items: stretch;
	width: 100%;
	margin: 2em 0;
}

.price-column {
	color: black;
	background-color: white;
	box-shadow: 0 7px 30px rgba(52, 31, 97, 0.1);
	padding: 2rem;
	flex-grow: 1;
	flex-basis: 0;
	max-width: 275px;
	border-radius: 8px;
}

.price-column.popular {
	position: relative;
	background-color: blue;
	box-shadow: 0 7px 30px rgba(52, 13, 135, 0.3);
	color: white;
	margin-top: -1.5rem;
	padding-top: 3.5rem;
	margin-bottom: -1.5rem;
	padding-bottom: 3.5rem;
}

.price-column:first-child {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.price-column:last-child {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.price-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-weight: bold;
}

.price {
	font-size: 3.5rem;
	display: flex;
}

.starting-text {
	font-size: 0.8rem;
}

.dollar-sign {
	font-size: 1.5rem;
	margin-top: 0.5rem;
	margin-right: 0.25rem;
}

.per-month {
	font-size: 0.75rem;
	align-self: flex-end;
	margin-bottom: 1.1rem;
	text-transform: uppercase;
}

.plan-name {
	text-transform: uppercase;
	font-size: 0.9rem;
	margin-top: 1rem;
	margin-bottom: 0;
}

.divider {
	height: 1px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.feature {
	display: flex;
	align-items: center;
	margin: 0.5rem;
}

.feature img {
	height: 1.1em;
	width: 1.1em;
	margin-right: 0.5rem;
}

.feature.inactive {
	color: #999;
	text-decoration-line: line-through;
}

.most-popular {
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	right: 0.5rem;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}

.cta {
	border: none;
	color: black;
	width: 100%;
	padding: 0.75rem 1rem;
	cursor: pointer;
	font-family: inherit;
	font-weight: bold;
	border-radius: black solid 4px;
	margin-top: 3rem;
	transition: 100ms;
	transform: scale(1);
}

.price-column.popular .cta {
	background-color: black;
	color: inherit;
}

.cta:hover,
.cta:focus {
	transform: scale(1.1);
}

@media (max-width: 1000px) {
	.price-comparison {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.price-column {
		margin: 3em;
	}
}

/* * Form */

form {
	display: flex;
	flex-direction: column;
	align-items: left;
	border: solid rgba(149, 157, 165, 0.2) 1px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	border-radius: 25px;
	margin: 1rem auto;
	padding-bottom: 150px;
	width: 500px;
	height: 500px;
	font: inherit;
}

input {
	border-radius: 5px;
	width: 200px;
	height: 2rem;
	border: solid rgba(149, 157, 165, 0.6) 1px;
	font-family: inherit;
	margin: 0.5rem 0;
}
input:placeholder-shown,
textarea:placeholder-shown {
	padding: 0.5rem;
}

textarea {
	border: solid rgba(149, 157, 165, 0.6) 1px;
	border-radius: 5px;
	height: 100px;
	width: 400px;
	font-family: inherit;
	margin: 0.5rem 0;
}

.form-container {
	margin: 2em;
	width: 400px;
}

@media (max-width: 700px) {
	input,
	textarea,
	form h2,
	.submit-button {
		margin: 1rem;
	}

	input {
		width: 200px;
		height: 3rem;
	}

	textarea {
		width: 200px;
	}

	form {
		height: 650px;
		width: 300px;
	}
}

/* *Footer */

.footer {
	display: flex;
	align-self: center;
	justify-content: space-evenly;
}

.footer-section {
	text-align: center;
	margin: 2em;
}

.footer p {
	margin: 1rem 0;
}

.footer-links {
	color: blue;
}

@media (max-width: 1000px) {
	.footer {
		text-align: center;
		margin: 1em 0;
		display: flex;
		flex-direction: column;
	}
}

/* ! About Page */

/* * About Me */

.about {
	text-align: center;
}

.personal-img {
	border-radius: 50%;
	margin-bottom: 2em;
}

.about-content {
	margin: 1em 0;
}

.about-values {
	margin: 2em 0;
}

.about-values li {
	margin: 1em 0;
	list-style-type: none;
}

@media (max-width: 1000px) {
	.about {
		padding: 0 2em;
	}

	.about-values li {
		text-align: center;
	}
}

/* ! Services Page */

.services-section {
	display: flex;
	text-align: center;
}

.services-section p {
	margin-bottom: 1em;
}

.services-button {
	padding: 0.6rem;
	font-weight: bold;
	margin: 1em;
	font-size: small;
	background-color: blue;
	color: white;
	text-decoration: none;
	border-radius: 5px;
}

.services-img {
	margin: 6em 6em;
	width: 360px;
}

@media (max-width: 1000px) {
	.services-section {
		display: initial;
		margin: 2em 0;
	}

	.services-section p,
	.services-section h2 {
		margin: 1em;
	}

	.services-img {
		display: none;
	}

	.services-button {
		margin: 3em;
	}
}

/* ! Blog Post */

.blog-post {
	display: flex;
	align-items: center;
	margin: 3em 0;
}

.blog-title {
	font-size: 2em;
}

.blog-author {
	font-weight: 400;
}

.blog-post p,
.blog-container p {
	margin: 1rem 0;
}

@media (max-width: 1000px) {
	.blog-post {
		flex-direction: column;
		padding: 0 2rem;
	}
	.blog-information {
		padding: 8rem 0 0 0;
	}
	.blog-container {
		padding: 0 2rem;
	}
}

.blog-link {
	text-decoration: none;
	color: blue;
	text-decoration: underline;
}

.blog-img {
	align-content: center;
	width: 200px;
	margin: 0 2em;
}
