body {
	margin: 0;
	line-height: 1.6;
	letter-spacing: 1.2px;
	background-image: linear-gradient(to right, #8360c3, #2ebf91);
	color: white;
	font-family: "Source Sans Pro", sans-serif;
}

/* *General */

.button {
	padding: 1rem;
	background-color: whitesmoke;
	color: black;
	text-decoration: none;
	border-radius: 25px;
}

.box {
	width: 500px;
}

.icon {
	width: 2em;
}

/* *Container */

.container {
	margin: 0 auto;
	width: 500px;
}

/* * Navigation */

.navbar {
	display: flex;
	justify-content: space-between;
	padding: 0;
	margin: 2em;
}

.navbar--brand {
	margin: 0;
	font-size: 2em;
}

.navbar--items {
	list-style: none;
	display: flex;
}

.navbar--item {
	margin: 0 2em;
}

.navbar--item a {
	text-decoration: none;
	color: inherit;
}

/* TODO: 1. Media queries 2. Dropdown Menu Functionality*/

/* * Hero */

.hero {
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 1.9rem;
}

.hero--text {
	text-align: center;
}

.hero--text h2,
.hero--text p {
	margin-bottom: 3em;
}

@media (max-width: 1000px) {
	.hero--img {
		display: none;
	}
}

/* *Explainer  */

.explainer--main {
	margin: 3em 0;
	text-align: center;
}

.explainer--cards {
	display: flex;
	text-align: center;
	padding: 2em;
}

.explainer--card {
	margin: 0 2rem;
}
